---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Contacto - Bytech Paraguay">
    <main class="pt-14 bg-black">
        <div class="py-2 bg-zinc-900">
            <h1 class="text-3xl font-bold text-white text-center">Contactanos</h1>
        </div>
        <Contact/>
</main>
</Layout>