---
import Layout from "../layouts/Layout.astro";
import Planes from "../components/Planes.astro";
import Mymodal from "../components/mymodal.astro";
import CardProyectos from "../components/CardProyectos.astro";
const svg  ='<svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>'
---
<Layout title="Desarrollo Web - Páginas Web - Bytech Paraguay">


    <section class="bg-[#13151a] mix-blend-multiply">
        <div class="grid max-w-screen-xl px-4 py-20 mx-auto lg:gap-8 xl:gap-0 lg:py-8 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl dark:text-white">Desarrollo Web</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl "> Creamos experiencias web inolvidables que destacan y convierten, adaptando cada solución a tus necesidades únicas.
                </p></p>
                <button id="open-modal-btn" class="bg-yellow-500 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-yellow-400">
                    Solicita tu web
                  </button>
                <a href="#planes" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    Ver Planes
                </a> 
            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                <img src="/img/heroweb.png" alt="mockup">
            </div>                
        </div>
    </section>

    <Planes />
 <section class="bg-gray-800 py-12 text-white">
        <div class="mx-auto px-4">
            <h2 class="text-3xl font-semibold text-center mb-8">Características de Nuestras Páginas Web</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 text-center">
                <div class="p-6 shadow-lg rounded-lg">
                    <i class="fas fa-laptop-code fa-6x text-yellow-500 mb-4"></i>
                    <h3 class="font-semibold text-xl">Diseño Responsivo</h3>
                    <p class="text-gray-200">Ajuste perfecto para cualquier dispositivo, asegurando una experiencia de usuario óptima.</p>
                </div>
                <div class="p-6 shadow-lg rounded-lg">
                    <i class="fa-solid fa-magnifying-glass-chart fa-6x text-yellow-500 mb-4"></i>
                    <h3 class="font-semibold text-xl">SEO Optimizado</h3>
                    <p class="text-gray-200">Mejora tu visibilidad en los motores de búsqueda y atrae más tráfico a tu sitio.</p>
                </div>
                <div class="p-6 shadow-lg rounded-lg">
                    <i class="fas fa-user-shield fa-6x text-yellow-500 mb-4"></i>
                    <h3 class="font-semibold text-xl">Seguridad Avanzada</h3>
                    <p class="text-gray-200">Protege la información de tus usuarios con las últimas tecnologías de seguridad.</p>
                </div>
                <div class="p-6 shadow-lg rounded-lg">
                    <i class="fas fa-mobile-alt fa-6x text-yellow-500 mb-4"></i>
                    <h3 class="font-semibold text-xl">Interfaz Moderna</h3>
                    <p class="text-gray-200">Interfaces limpias y modernas que mejoran la interacción y satisfacción del usuario.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-zinc-900">
        <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
            <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-white md:text-4xl">
                Empresas que confian en nuestro servicio
            </h2>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-4">
                <CardProyectos title="HL TUNING" description="Eccomerce Personalizado" img="/img/hltuning.png" url="https://www.hltuning.com/"/>
                <CardProyectos title="Cuando Leo me Libro de Todo" description="Sitio Web para Biblioteca Comunitaria" img="img/cuandoleomelibro.png" url="https://maurilopez.site/CuandoLeoMeLibroDeTodo/"/>
                <CardProyectos title="Taller March" description="Sitio web Para Taller de Autos" img="img/tallermarch.png" url="https://marchtaller.github.io"/>
                </div>
        </div>
    </section>


    <Mymodal/>
</Layout>

