---
import Mymodal from './mymodal.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<button id="open-modal-btn" class="bg-yellow-500 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-yellow-400 transition duration-300 ease-in-out flex items-center animate-bounce">
    {title}
  </button>
  
<Mymodal/>
  