<section class="bg-gray-100 ">
    <div class="container mx-auto px-6 py-12 xl:px-20">
        <div class="md:flex md:items-center md:justify-between">
            <div class="md:w-1/2 mb-6 md:mb-0 xl:mx-20">
                <h2 class="text-3xl font-semibold text-gray-800">Contacto</h2>
                <p class="text-gray-600 mt-4">Para más información o si tienes alguna pregunta, por favor, no dudes en contactarnos.</p>
                <div class="mt-8">
                    <p class="flex items-center text-gray-700 mb-2">
                        <svg class="w-6 h-6 fill-current text-yellow-400 mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12 2C8.691 2 6 4.691 6 8c0 3.309 6 13 6 13s6-9.691 6-13c0-3.309-2.691-6-6-6zm0 9.5c-1.381 0-2.5-1.119-2.5-2.5S10.619 6.5 12 6.5 14.5 7.619 14.5 9s-1.119 2.5-2.5 2.5z"/>
                        </svg>
                        Dirección: San Lorenzo, Central, Paraguay.
                    </p>
                    <p class="flex items-center text-gray-700 mb-2">
                        <svg class="w-6 h-6 fill-current text-yellow-400 mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M21 1H3a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm-9 20H4v-1h9v1zm0-3H4v-1h9v1zm2-2H4v-1h12v1zm0-2H4v-1h12v1zm0-2H4v-1h12v1zm0-2H4V8h12v1zm0-2H4V6h12v1z"/>
                        </svg>
                        Teléfono: +595 983 882017
                    </p>
                    <p class="flex items-center text-gray-700 mb-6">
                        <svg class="w-6 h-6 fill-current text-yellow-400 mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M20 2H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-1 17H5V5h14v14z"/>
                        </svg>
                        Email: bytechpy@gmail.com
                    </p>
                    <div class="flex flex-row items-center justify-center md:justify-start space-x-3 mt-5">
                        <a href="https://www.facebook.com/RdsDeportes/" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-yellow-400 hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://twitter.com/RDS_Deportes" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-yellow-400 hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-x-twitter"></i></a>
                        <a href="https://www.youtube.com/rubdse" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-yellow-400 hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.instagram.com/rdsdeportes/" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-yellow-400 hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/rdsdeportes" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-yellow-400 hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-linkedin"></i></a>
                      </div>
                </div>
            </div>
            <div class="md:w-1/2 bg-white p-6 shadow-lg rounded-lg">
                <h3 class="text-2xl text-gray-800 font-semibold mb-6">Envíanos un mensaje</h3>
                <form action="#" method="POST">
                    <div class="mb-4">
                        <label class="block text-gray-700">Nombre</label>
                        <input type="text" name="name" placeholder="Tu nombre" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-yellow-400">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Email</label>
                        <input type="email" name="email" placeholder="Tu email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-yellow-400">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Telefono</label>
                        <input type="email" name="email" placeholder="Tu numero" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-yellow-400">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Mensaje</label>
                        <textarea name="message" rows="5" placeholder="Tu mensaje" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-yellow-400"></textarea>
                    </div>
                    <div class="flex justify-end mt-6">
                        <button type="submit" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-yellow-400 rounded-md hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
