---
import BtnHero from "./BtnHero.astro"
---
<div class="bg-cover bg-center flex items-center text-white py-20 sm:py- px-10 object-fill h-screen bg-gradient-to-r z-10" style="background-image: url('/img/banner2.jpg');">
    <div class="absolute bg-gradient-to-r from-gray-900 to-gray-900 opacity-60 inset-0 z-0"></div>
    <div class="md:w-2/3 z-10">
        <p class="font-bold text-sm md:text-xl uppercase z-50">Somos Bytech Paraguay</p>
        <p class="text-4xl md:text-5xl font-bold">Soluciones Digitales Para Empresas</p>
        <p class="text-2xl md:text-3xl mb-10 leading-none">Innovación y tecnología a tu alcance</p>
        <BtnHero title="Solicita nuestros servicios"/>
    </div>  
</div>