---
import ServiceCard from './ServiceCard.astro'
---
    <section id="services" class="pt-6">
        <div class="container mx-auto text-center">
          <h2 class="text-3xl font-bold my-6 text-stone-200">Nuestros Servicios</h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-1">
      <ServiceCard
        icon="fas fa-laptop-code"
        title="Desarrollo Web"
        description="Creamos sitios web modernos y funcionales adaptados a tus necesidades. Desde páginas informativas hasta tiendas en línea."
        link="/desarrollo-web"
      />
      <ServiceCard
        icon="fas fa-mobile-alt"
        title="Desarrollo de Apps"
        description="Desarrollamos aplicaciones móviles para iOS y Android con las últimas tecnologías. Desde aplicaciones de negocio hasta juegos móviles."
        link="/desarrollo-de-apps"
      />
      <ServiceCard
        icon="fas fa-paint-brush"
        title="Diseño Gráfico"
        description="Diseño creativo y original para todos tus proyectos gráficos. Desde logotipos y material publicitario hasta ilustraciones y animaciones."
        link="/diseno-grafico"
      />
      <ServiceCard
        icon="fas fa-chart-line"
        title="Marketing Digital"
        description="Estrategias de marketing digital para aumentar la visibilidad y el alcance de tu marca. Desde SEO y SEM hasta campañas en redes sociales."
        link="/marketing-digital"
      />
      <ServiceCard
        icon="fas fa-cogs"
        title="Consultoría Tecnológica"
        description="Asesoramiento experto en tecnología para optimizar tus procesos empresariales. Desde evaluaciones de seguridad hasta implementaciones de software."
        link="/consultoria-tecnologica"
      />
      <ServiceCard
        icon="fas fa-tools"
        title="Soporte Técnico"
        description="Soporte técnico integral para resolver cualquier problema con tus dispositivos y sistemas. Desde asistencia remota hasta reparaciones en sitio."
        link="/soporte-tecnico"
      />
          </div></div></section>
